
.DS_Store
*.jpg
.Rproj.user/9FA52DF8/pcs/source-pane.pper
.Rproj.user/9FA52DF8/pcs/windowlayoutstate.pper
.Rproj.user/9FA52DF8/pcs/workbench-pane.pper
.Rproj.user/9FA52DF8/saved_source_markers
.Rproj.user/9FA52DF8/sources/per/t/804D2E7D
Kawarake.Rmd
Kawarake_files/figure-latex/chank10-1.pdf
*.pdf
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/9FA52DF8/sources/prop/INDEX
.Rproj.user/9FA52DF8/rmd-outputs
.Rproj.user/9FA52DF8/sources/prop/58CE6BCC
.Rproj.user/shared/notebooks/1406E335-Kawarake/1/s/chunks.json
.Rproj.user/shared/notebooks/1406E335-Kawarake/1/9FA52DF81B51893D/chunks.json
.Rproj.user/9FA52DF8/sources/per/t/804D2E7D-contents
.Rhistory
.Rproj.user/9FA52DF8/pcs/files-pane.pper
.Rproj.user/shared/notebooks/paths
Kawarake.Rmd
.Rproj.user
